.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-color: #282c34;
  color: white;
}

.App{  
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;  
  align-items: center
}

.App-header { 
  width: 80%; 
  min-height: 100vh;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  color: white;
  
}

.App-link {
  color: #61dafb;  
}



